<div class="jumbotron">
  <div class='header-wrapper'>
    <div class='col-sm-7'>
      <div class='text-wrapper'>
        <h2>Vigilance as a Service</h2>
        <%= link_to "Sign up now", new_user_registration_path, class: "to-sign-up" %>
      </div>
    </div>

    <div class='col-sm-5'>
      <div class='bg-header-image-wrapper'>
        <%= image_tag 'demo-screen.jpg' %>
      </div>
    </div>
  </div>
</div>
<div class='contact'>
  <h2>Have a question or just want to get in touch?</h2>
  <ul>
    <li><a href='#'><%= image_tag 'twiter.png' %></a></li>
    <li><a href='#'><%= image_tag 'ico-facebook.png' %></a></li>
  </ul>
</div>
