.alerts-wrapper {
  width: 100%;

  .alerts {
    width: 80%;
    margin: auto;

    h1 {
      text-align: right;
    }

    .allert{
      width: 100%;
      margin-bottom: 50px;
      position: relative;

      h3 {
        font-weight: 600;
        width: 100%;
        padding-right: 100px;

        a {
          text-decoration: none;
          color: #000;
          font-size: 27px;

          &:hover {
            color: #1850d4;
          }
        }
      }

      .new {
        margin-left: 20px;
        font-size: 18px;
        color: #ff0200;
        position: absolute;
        top: 5px;
        right: 0px;
      }

      hr {
        margin-top: -8px;
        margin-bottom: 1px;
      }

      .date {
        font-size: 11px;
        color: #a7a7a7;
      }

      p+p {
        margin-top: -5px;
        font-size: 16px;
      }
    }
  }
}

.alert.show {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

  .content {
    width: 80vw;
    margin: auto;

    h1 {
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
      font-weight: 100;
      font-family: serif;
      text-align: justify;
    }

    .issue {
      font-style: italic;
      margin-bottom: 40px;
    }

    .action {
      margin-bottom: 25px;
    }

    .source a {
      font-style: italic;
      font-size: 17px;
    }

    .date {
      text-align: right;
      font-size: 15px;
      margin-top: -10px;
      font-weight: 900;
      color: #adadad;
    }
  }
}
