@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('new_cover_page.png');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

.container-wrapper {
  width: 100%;
  min-height: calc(100vh - 96px)!important;
  display: flex;
  flex-wrap: wrap;
}

footer {
  border-top: 1px solid #eaeaea;
  color: #777;
  padding: 5px;
  background: rgba(202, 202, 202, .1);

  p {
    text-align: center;
    padding-top: 3px;
  }
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
