@font-face {
  font-family: CinzelDecorativeBold;
  src: font-url("CinzelDecorative-Bold.otf");
}
@font-face {
  font-family: CinzelDecorativeRegular;
  src: font-url("CinzelDecorative-Regular.otf");
}
@font-face {
  font-family: Diavlo_BOLD;
  src: font-url("Diavlo_BOLD.otf");
}
@font-face {
  font-family: VastShadow;
  src: font-url("VastShadow-Regular.ttf");
}


h1 {
  font-family: Diavlo_BOLD;
  width: 100%;
}
