@font-face {
  font-family: CinzelDecorativeBold;
  src: url("/assets/CinzelDecorative-Bold.otf");
}
@font-face {
  font-family: CinzelDecorativeRegular;
  src: url("/assets/CinzelDecorative-Regular.otf");
}
@font-face {
  font-family: Diavlo_BOLD;
  src: url("/assets/Diavlo_BOLD.otf");
}
@font-face {
  font-family: VastShadow;
  src: url("/assets/VastShadow-Regular.ttf");
}


h1 {
  font-family: Diavlo_BOLD;
  width: 100%;
}
