#logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-top: 9px;
  font-family: CinzelDecorativeBold;
  font-weight: 900;

  &:hover {
    text-decoration: none;
  }
}

.jumbotron {
  background: url('bg-pattern.png'),linear-gradient(to left,#7b4397,#dc2430);
  height: calc(100vh - 52px);
  min-height: 550px;
  margin-bottom: -20px;
  overflow: hidden;
  padding: 0;
  width: 100%;

  .header-wrapper {
    width: 1170px;
    height: 100%;
    margin: auto;
    padding-top: 20px;
    position: relative;

    div {
      height: 100%;
    }

    .text-wrapper {
      width: 100%;
      position: absolute;
      top: calc(50% - 70px);
      transform: rotateY(-50%);

      h2 {
        font-size: 40px;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 100;
      }

      .to-sign-up {
        width: 260px;
        height: 44px;
        outline: 0;
        border: 1px solid #fff;
        border-radius: 23px;
        display: block;
        text-align: center;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        padding-top: 14px;
        font-size: 12px;
        letter-spacing: 1px;
        margin-top: 30px;
        transition-property: all;
        transition: 0.7s;

        &:hover {
          color: #fff;
          text-decoration: none;
          border-color: #fdcc52;
          background: #fdcc52;
          transition-property: all;
          transition: 0.7s;
        }
      }
    }

    .bg-header-image-wrapper {
      background: url('iphone.png') top center no-repeat;
      background-size: cover;
      position: relative;
      width: 458px;
      height: 100%;

      img {
        display: block;
        position: absolute;
        max-width: 100%;
        width: 88.06%;
        height: auto;
        top: 12.28%;
        bottom: 11.58%;
        left: 5.97%;
        right: 5.97%;
      }
    }
  }
}

.contact {
  width: 100%;
  background: #fdcc52;
  text-align: center;
  padding: 70px 0px 70px 0px;
  margin-top: 20px;

  h2 {
    font-size: 35px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 100;
  }

  ul li {
    display: inline-block;
    padding: 10px 5px;

    img {
      width: 80px;
      height: 80px;
    }
  }
}

.rights {
  width: 100%;
  height: 50px;
  background: #000;
  margin-top: -20px;
  padding: 0;
  margin-left: 0;

  p {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: grey;
    padding-top: 15px;
  }
}

.navbar {
  margin-bottom: 0px;
}
