.tag-creator, .tag-editor {
  width: 80%;
  height: 87px;
  padding: 10px;
  padding-top: 0px;
  border: 1px groove rgba(7, 119, 214, .3);
  margin-bottom: 45px;
  overflow: hidden;
  transition: height ease-in .5s, margin-bottom ease-in .5s .2s;

  form {
    display: flex;

    .form-group {
      width: 140%;
    }

    .form-submit {
      width: 20%;
      margin-top: 25px;
    }
  }
}

.tag-creator.out, .tag-editor.out {
  height: 0px;
  padding: 0px 10px 0px 10px;;
  margin-bottom: 0px;
  border: none;
  transition: height ease-in .5s, margin-bottom ease-in .5s;
}

.tags-list .editing {
  pointer-events: none;
  cursor: none;
  background: rgba(224, 103, 103, 0.15);
}
