<div class='products-wrapper'>
  <div class='products-header'>
    <h1>All existing products/services</h1>
    <%= link_to new_product_path do %>
      <span>Add New</span>
    <% end %>
  </div>
</div>
